# This is My first time using jupyter
>26-04-2021

>12:10am

### Type Funtion

In [47]:
def hello():
    print("hello world")
hello()

hello world

In [59]:
def all_argument(a, *b, **c):
    print(a)
    print(b)
    print(c)
    
all_argument(12, 21, 32, 23, 44, "gydf", aa=2, bb=3, cc="name")

12
(21, 32, 23, 44, 'gydf')
{'aa': 2, 'bb': 3, 'cc': 'name'}

In [18]:
#onek gula pera miter 1sathe pathano jay ei vabe.

def total(*all):
    sum = 0
    for x in all:
        sum += x
    return sum
print(total(19, 34, 5, 56))

114

In [22]:
def num(**argu):
    print(argu)
    
num(a=1, b=2, c=3)

{'a': 1, 'b': 2, 'c': 3}

In [31]:
def num(**argu):
    for v in argu:
        print(v,argu)
    
num(a=1, b=2, c=3)

a {'a': 1, 'b': 2, 'c': 3}
b {'a': 1, 'b': 2, 'c': 3}
c {'a': 1, 'b': 2, 'c': 3}

In [36]:
def num(**argu):
    for v in argu:
        print("{0} : {1}".format(v, argu[v]))
    
num(a=1, b=2, c=3)

a : 1
b : 2
c : 3

In [28]:

def sq(func, x):
    y = x**2
    return func(y)
def f(x):
    return x**2

cale = sq(f,2)
print(cale)

sq(f,2)

16

16

In [95]:
def num1(*x):
    return "!!!"

def num2(y, z):
    return 
    
num2("hello",num2)

NameError: name 'world' is not defined

# There are some function example:

### 1. input()                  11. all()
### 2. print()                   12. abs()
### 3. int()                       13. bool()
### 4. float()
### 5. len()
### 6. round()
### 7. type()
### 8. str()
### 9. max()
### 10. min()

# print() Function

The print() function is used to display information to the user, or to the developer. 
It's one of Python's most widely used built-in functions.

In [ ]:
print("hello world")

# all()

This is a function that takes a sequence as an input and checks the elements. If any of the elements is empty/ zero/ False, then it gives the output as False. Or else, it gives True. For example,

In [55]:
y = all([1, 2, -2, 4.4, -4.2, 'd'])

y

z = all([1, 2, -2, 4.4, -4.2, 'd', False])
z

print(y,'\n',z)

True
 False

# class

In [66]:
class student:
    pass
su = student()
su2 = student()

su.name = "Ron"
su.marks = 93

su2.name = "mass"  
su2.marks = 85

print(su.name)
print(su2.name)

Ron
mass

In [89]:
class stu:
    def check_pass_fail(self):
        if self.marks > 40:
            return print("This student is pass ")
        else:
            return False

stu1 = stu()
stu2 = stu()
stu3 = stu()

stu1.marks = 76

stu2.name = 'Ron'
stu2.marks = 56

stu3.marks = 36

check = stu2.check_pass_fail()

This student is pass

# This is input() funtion.

In [ ]:
first = input("What is your name? ")
print(f"My name is {first}\nwelcome to jupyter {first}")

The input() function to obtain information from the user:

In [10]:
name = input("What is your name? ")

print("wellcome to",name)

What is your name? My name is rokon
wellcome to My name is rokon

In [56]:
# type Funtion example.


a = 1
b = 1.1
c = "Ron"

print(type(a), type(b), type(c))

<class 'int'> <class 'float'> <class 'str'>

# Math

In [ ]:
a = 4;
b = 3;
c = a + b;
print(c)

Python is an incredibly powerful calculator. By leveraging the math library, numpy, and scipy, Python typically outperforms pre-programmed calculators. In later chapters, you will learn how to use the numpy and scipy libraries. For now, we'll introduce the calculator tools that most people use daily.

Addition, subtraction, multiplication, division, and exponentiation are core operations. In computer science, the modulus operator and integer division are equally essential as well.

The modulus operator is the remainder in mathematical division. Modular arithmetic is also called clock arithmetic. For instance, in mod5 which is a modulus of 5, we count 0,1,2,3,4,0,1,2,3,4,0,1... This goes in a circle, like the hands on a clock

># Basic MathOperations

In [3]:
a = 5+2
b = 5-2
c = 101/2
d = 5*2 
e = 101%2
f = 101//2
g = 5**2
print(f"a={a},\nb={b},\nc={c},\nd={d},\ne={e},\nf={f},\ng={g}")

a=7,
b=3,
c=50.5,
d=10,
e=1,
f=50,
g=25

In [5]:
5 + 2*-3

-1

In [6]:
(5 + 2) *-3

-21

# Complex Number Types

In [7]:
2 + 3j

(2+3j)

In [8]:
(2 + 3j) / (1 - 5j)

(-0.5+0.5j)

In [ ]:
(2 + 3) / (1 - 5)

It's common in programming to add 1 to a variable; for instance, x = x + 1. The shorthand for this is to use += as in the following example:

In [16]:
x = 3
x += 1
print(x)

4

In [ ]:
x = 14
x += 1
x /= 5
x **=2

print(x)

In [9]:
# Exampe for keyword.all keyword is here..Just chake it in this's keyword.



import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

>>> # This is Root Formula.

c = number**0.5

In [ ]:
x = float(input("Height: "))
y = float(input("Bese: "))
hypotenuse = ((x**2) + (y**2))**0.5

print("Hypotenuse = ",hypotenuse)

In [ ]:
"""
This document determines the pythagorean Distance 
between three given points
"""

In [ ]:
#Initilize variables
x, y, z = 2, 4, 2

# Pythagorean theorem in 3 dimensions
w_squared = x**2 + y**2 + z**2

#The square root gives the distance
w = w_squared**0.5

#show the distanc
w

In [74]:
#Example a math

"""Assigning Values to variable"""

"""
    First, set 14 to the x variable.
    Now, add 1 to x.
    Finally, divide x by 5 and square it
"""


x = 14
x = x + 1
x = (x / 5)**2

print(x)

9.0

# Comment

In [75]:
# ei ta holo sadaron 1ta comment.
# Ei comment likte protibare "#" eiti dite hobe.

#                                  Doc_sting

In [73]:
def valu(x, y):
    """
     This is the Doc_string example..
     ekhane kichu likte hobe.Doc string ta muloto 
     name koron kora hoy string gulakae boro kore likha hoy bole.Doc file jemon hoy r ki.

    """
    z = x * y
    
    #Ei string ta output e show kortiche na...karon kono function e return function call korle r kono Argument kaj kore na.
    #Jar karone Doc string show korche na.
    """
     This is the Doc_string example..
     
     ekhane kichu likte hobe.Doc string ta muloto 
     name koron kora hoy string gulakae boro kore likha hoy bole.Doc file jemon hoy r ki.

    """
    return z


"""
 This is the Doc_string example..ekhane kichu likte hobe.Doc string ta muloto 
 name koron kora hoy string gulakae boro kore likha hoy bole.Doc file jemon hoy r ki.

"""
print(__doc__)
print(valu.__doc__)  # "valu.__doc__" function doc string attribiut.
valu(2,4)

 This is the Doc_string example..ekhane kichu likte hobe.Doc string ta muloto
 name koron kora hoy string gulakae boro kore likha hoy bole.Doc file jemon hoy r ki.



     This is the Doc_string example..
     ekhane kichu likte hobe.Doc string ta muloto
     name koron kora hoy string gulakae boro kore likha hoy bole.Doc file jemon hoy r ki.

8

# String: Concatenation, Methods, and input()

You have learned how to express numbers, operators, and variables. 
What about words? 
In Python, anything that goes between 'single' or "double" quotes is considered a string.

Examples include 'hello', "hello", 'HELLoo00', '12345', and 'fun_characters: !@ #$%^&*('.

.

Examples 'string' in python.
.

In [ ]:
# THis are valid string.

kfc_Burger = 'Chicken Burger'
kfc_offer = "Mingle's Baket"

print(kfc_Burger)
print(kfc_offer)

In [ ]:
#This is just chake Escape Sequence.

print("1\v this is some \t text here. new line" + "\n \a"+ "thsi is another text")

# \t \n are very importent.

In [ ]:
bookstore = 'Moe\'s'
print(bookstore)

bookstore = "Moe's"
print(bookstore)

# String Mathods

In [ ]:
name = "rokoN"
a = name.capitalize()
b = name.lower()
c = name.upper()
d = name.count('o')
e = name * 3

print(f"{a} \n{b}\n{c}\n{d}\n{e}")     #use function

# The len() Function

In [ ]:
name = "Md: Roknuzzaman Rokon"

print(len(name))   # len() is is Function
name.count('o')    # .count() is mathods

# String Indexing and Slicing

    Indexing and slicing are crucial(অত্যন্ত গুরুত্বপূর্ণ) parts of programming.In  
    data analysis, indexing and slicing DataFrames is essential(অপরিহার্য ) to keep track 
    of rows and columns...

    >>>>>>>>>>>> Indexing

        The characters of Python strings exist in specific locations;
        in other words, their order     counts. The index is a numerical 
        representation of where each character is located.

In [ ]:
team = "KFC Adabor"

team[0]  #K
team[1]  #F
team[2]  #C

print(team[1])

In [ ]:
team = "KFC Adabor"  #adding a negative value

team[-0]  
team[-1]  
team[-2] 

print(team[-2])
print(team[7])
print(team[4])

    Note: 
Negative numbers start at the end of the string.
(It makes sense to start with -1 since -0 is the same as 0.)

    >>>>>>>>>>># Slicing

    A slice is a subset of a string or other element. A slice could be 
    the whole element or one character, but it's more commonly a group 
    of adjoining characters.

Exmple

In [ ]:
team = "KFC Adabor"

team[4 : 8]

In [ ]:
team = " KFC Adabor"

team[1 : 4]

In [ ]:
team = "KFC Adabor"

team[1 : 6]

In [ ]:
team = "KFC Adabor"

team[0 : 5]

In [ ]:
team = "KFC Adabor"
print(team[ :5])

team = "KFC_Adabor"
print(team[ :5])

In [ ]:
team = "KFC Adabor" #Negative value

x = team[-3 : ]
print(x)

# Methods

In [45]:
# Useing format methods

print("My name is Roknuzzaman {}".format("Rokn"))

My name is Roknuzzaman Rokn

In [46]:
# Multiple format()

i=1
months={'Jan','Feb','Mar'}

for m in months:
   print("Month no {} is {}".format(i,m))
   i=i+1

Month no 1 is Feb
Month no 2 is Jan
Month no 3 is Mar

In [37]:
# len() methods

team = "KFC_Adabor"
len(team)

10

# Booleans and Conditionals

    Booleans, named after George Boole, take the values of True or False. Although the idea behind
    Booleans is rather simple, they make programming immensely more powerful.

    Programming based upon multiple cases is referred to as branching. Each branch is represented by a
    different conditional. Conditionals often start with an 'if' clause, followed by 'else' clauses. 
    The choice of a branch is determined by Booleans, depending on whether the given conditions are True or False.

# Booleans

True,
False

Note: Boolean values must be capitalized in Python.

In [1]:
new_customer = True
new_customer2= False

print(type(new_customer))
print(type(new_customer2))

<class 'bool'>
<class 'bool'>

# List

## Add an item to the list

In [2]:
#a list
cars = ['Ford', 'Volvo', 'BMW', 'Tesla']

#append item to list
cars.append('Audi')

print(cars)

['Ford', 'Volvo', 'BMW', 'Tesla', 'Audi']

## Add multiple items to list

In [3]:
#an empty list
cars = []

#append items to list
cars.append('Audi')
cars.append('Volvo')

print(cars)

['Audi', 'Volvo']

# list slicing

In [1]:
myList = [0,1,2,3,4,5,6,7,8,9,10,11,12]

print(myList)
print(" \n myList[4]: ", myList[4])

print("\n yList[-2]: ",myList[-2])

print("\n myList[-2 : ]: ",myList[-2 : ])

print("\n myList[ : -2 : ]: ",myList[ : -2 : ])

print("\n myList[ : -2]: ",myList[ : -2])

print("\n myList[2 : 4]: ",myList[2 : 4])

print("\n myList[-3 : -5]: ",myList[-3 : -5])

print("\n myList[ : ]: ",myList[ : ])

print("\n myList[ : ]: ",myList[ : : -1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

 myList[4]:  4

 yList[-2]:  11

 myList[-2 : ]:  [11, 12]

 myList[ : -2 : ]:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

 myList[ : -2]:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

 myList[2 : 4]:  [2, 3]

 myList[-3 : -5]:  []

 myList[ : ]:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

 myList[ : ]:  [12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# Logical Operators
and, or, not

In [ ]:
#and Operators


a = True
b = True
c = False
d = False

an_d1 = a and b
an_d2 = a and c
an_d3 = c and d

print(an_d1, an_d2, an_d3)

In [ ]:
#or Operators

a = True
b = True
c = False
d = False

or1 = a or b
or2 = a or c
or3 = c or d

print(or1, or2, or3)

In [ ]:
#not operators

a = True
b = True
c = False
d = False

not a
not b
not c

# Comparison Operators

1. <  Less than
2. <= less then or equal to
3. (>)  grater than
4. (>=) grether than or equal to
5. == equivalent to
6. != not equivalent to

In [ ]:
age = 26
age < 29
age<= 29
age > 14
age >=14
age ==26
age !=21

    Comparison String

In [ ]:
'a' < 'b'
'kcf adabor' < 'kfc dhanmondi'

# Conditionals

Conditionals are used when we want to express code based upon a set of 
circumstances or values. Conditionals evaluate Boolean values or Boolean 
expressions, and they are usually preceded by 'if'

if,
else,
elseif

In [12]:
# The if else syntax

age = int(input("How old are you?\n "))
if age >= 18:
    print('you are a voter')
else:
    print('you are\'t a voter')

How old are you?
 25
you are a voter

# Indentaion 

Indentation is one of Python's singular features. Indentation is used everywhere in Python. Indentation can be liberating. One advantage is the number of keystrokes.

# Loops

<>>>>>>>>>>>>>>>>><     while,for.

Python distinguishes between two fundamental kinds of loops: while loops, and for loops.

There are three key components to most loops:

1. The start of the loop
2. The end of the loop
3. The increment between numbers in the loop

# while loops

In [ ]:
number = 1

while number <= 10:
    print(number)
    number += 1

In [ ]:
number = 5
while number <= 10:
    print(number)
    number += 1

In [13]:
# Find first number greater than 100 and divisible by 17.

x = 100
while x <= 1000:
  x += 1
  if x % 17 == 0:
    print(x, 'is the first number greater than 100 that is divisible by 17.')
    break

102 is the first number greater than 100 that is divisible by 17.

# for loops

In [8]:
new_name = "Roknuzzaman Rokon"

for x in new_name:
    print(x)

R
o
k
n
u
z
z
a
m
a
n

R
o
k
o
n

In [9]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [10]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [13]:
for i in range(-10,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0

In [14]:
name = "rokon"
for i in range(2):
    print("x""\n")
    for i in name:
        print(i)
    print("\n")

x

r
o
k
o
n


x

r
o
k
o
n

## The continue Keyword

In [15]:
# 
for num in range(10,100):
    if num % 2 == 0:
        continue
    if num % 3 == 0:
        continue
    if num % 5 == 0:
        continue
    if num % 7 == 0:
        continue
    print(num)

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [16]:
our_customer = [['Roya','601','01711957414','J.G.C'],
                ['BOny','601','01711957414','J.G.C'],
                ['Rumi','601','01711957414','J.G.C']]

print(our_customer)

[['Roya', '601', '01711957414', 'J.G.C'], ['BOny', '601', '01711957414', 'J.G.C'], ['Rumi', '601', '01711957414', 'J.G.C']]

In [17]:
our_customer = [['Roya','601','01711957414','J.G.C'],
                ['BOny','601','01711957414','J.G.C'],
                ['Rumi','601','01711957414','J.G.C']]
print(our_customer[1])

['BOny', '601', '01711957414', 'J.G.C']

In [18]:
our_customer = [['Roya','601','01711957414','J.G.C'],
                ['BOny','601','01711957414','J.G.C'],
                ['Rumi','601','01711957414','J.G.C']]

for x in our_customer:
    print("name: ", x[0])
    print("House: ", x[1])
    print("Phone number: ",x[2])
    print("Location: ",x[3])
    print("\n")

name:  Roya
House:  601
Phone number:  01711957414
Location:  J.G.C


name:  BOny
House:  601
Phone number:  01711957414
Location:  J.G.C


name:  Rumi
House:  601
Phone number:  01711957414
Location:  J.G.C

In [19]:
our_customer = [['Roya','601','01711957414','J.G.C'],
                ['BOny','601','01711957414','J.G.C'],
                ['Rumi','601','01711957414','J.G.C']]

for x in our_customer:    
    print("name: ", x[0])
    print("House: ", x[1])
    print("Phone number: ",x[2])
    print("Location: ",x[3])
    print("\n")

name:  Roya
House:  601
Phone number:  01711957414
Location:  J.G.C


name:  BOny
House:  601
Phone number:  01711957414
Location:  J.G.C


name:  Rumi
House:  601
Phone number:  01711957414
Location:  J.G.C

# Programs, Algorithms, Functions

In [20]:
current_time.py:

SyntaxError: invalid syntax (<ipython-input-20-40a73b396dda>, line 1)

In [ ]:
"""This script returns the current system time"""

import datetime

name = 1
time = datetime.datetime.now().time()
print(time)

In [ ]:
iport

In [ ]:
from datetime import time
time = datetime.datatime.asc().time()
print(time)

In [21]:
import time
x = time.asctime()
new =  x.split(" ")
print(new)
print(x)

['Thu', 'Aug', '11', '03:41:12', '2022']
Thu Aug 11 03:41:12 2022

In [22]:
import time
x = time.asctime()
new =  x.split(" ") # using split method... splitb method make a list.
print(new[0])

Thu

# Linear search algorithm

In [23]:
lst = []

num = int(input("Enter size of the list:\t"))

for n in range(num):
    numbers = int(input("Enter list of number: \t"))
    lst.append(numbers)

found = False

x = int(input("Enter a number to searched: \t"))

for i in range(len(lst)):
    if x == lst[i]:
        found = True

        print("\n %d found at position %d" % (x, i))
        break

if not found:
    print("\n %d this number is not in list" % x)

Enter size of the list:

ValueError: invalid literal for int() with base 10: ''

# My Exersise

In [ ]:
Fsat_Name = 'Mosh'
Old = 20
Pasent_Catagori = 'new pasent'

print(f"{Fsat_Name}\n{Old}\n{Pasent_Catagori}")

In [ ]:
import datetime


project = '                                 Cash Audit sheet'
print(project.title())

date = datetime.datetime.now()
print(date)

store_name = input("Name of Store: ")

mod = input("MOD name: ")
nottm = input("Name of the Team member Name: ")
print("\t\t")

print("                                      Denomination")


a1 = int(input("1000 x "))
a = 1000 * a1
b1 = int(input("500 x "))
b = 500 * b1
c1 = int(input("100 x "))
c = 100 * c1
d1 = int(input("50 x "))
d = 50 * d1
e1 = int(input("20 x "))
e = 20 * e1
f1 = int(input("10 x "))
f = 10 * f1
g1 = int(input("5 x "))
g = 5 * g1
h1 = int(input("2 x "))
h = 2 * h1
i1 = int(input("1 x "))
i = 1 * i1



coupons = int(input("Coupons: "))
cards = int(input("Chards: "))

total = a + b + c + d + e + f + g + h + i + coupons + cards

print(f"Total Amount: {total}")

In [ ]:
print(hello)

numr = int(input("Enter a number: "))

for n in range(1,numr):
    for i in range(2,n):
        if(n % i == 0):
            break
        else:
            print(n)

n = 10
for x in range(n):
    for y in range(n):
        x =+ 1
    print(x)

# Its just use string and reverse it. and find this program this is palindrome and not palindrome.

In [ ]:
number = input("input a number: ")


if(str(number)== number[ : : -1]):
     print("This is a palindrome string number")
else:
     print("This is not palindrome string number")

In [ ]:
def reverse(num):                     # I have define a parameter called reverse.and "num" is a Variable.
    st = str(num)                     # Convert variable in string.
    revst = st[ : : -1]               # Here the number will reverse.
   
    return revst

num = 6789
print(reverse(num))

# This solution is mathematically solved. It number reverse mathematically...

In [ ]:
def reverse(num):
    store_somthing = 0
    while(num > 0):
        digit = num % 10
        store_somthing = (store_somthing*10) + digit
        num = num // 10
    return store_somthing
num = int(input("Please insert a number: "))
print("This is the final resut",reverse(num))

# Mathematically solved palindrome number.

In [ ]:
num = int(input("Please insert a number: "))

def reverse(num):
    store_somthing = 0
    while(num > 0):
        digit = num % 10
        store_somthing = (store_somthing*10) + digit
        num = num // 10
    return store_somthing
num2 = reverse(num)

if (num == num2):
    print("This is a palindrome number.")
else:
    print("This is is a not palindrome number.")

# Ascending Order

we can use the sort() method to sort the list in ascending order.

In [25]:
my_list = [67, 2, 999, 1, 15]

# this prints the unordered list
print("Unordered list: ", my_list)

# sorts the list in place
my_list.sort()

# this prints the ordered list
print("Ordered list: ", my_list)

Unordered list:  [67, 2, 999, 1, 15]
Ordered list:  [1, 2, 15, 67, 999]

In [26]:
my_list = [6, 7, 8, 9, 10]

# this will return None because the list is already sorted
print(my_list.sort())

None

# The sort() method can take in two optional arguments called key and reverse.

In [28]:
"""
In this example, we can use the len() function as the value for the key argument.
key=len will tell the computer to sort the list of names by length from smallest to largest.
"""

names = ["Jessica", "Ben", "Carl", "Jackie", "Wendy"]

print("Unsorted: ", names)
names.sort(key=len)
print("Sorted: ", names)

Unsorted:  ['Jessica', 'Ben', 'Carl', 'Jackie', 'Wendy']
Sorted:  ['Ben', 'Carl', 'Wendy', 'Jackie', 'Jessica']